.small-heading {
  font-family: proxima-nova, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  line-height: 2rem;
  margin-bottom: 0.25rem;
  text-transform: uppercase;
}
.large-heading {
  font-size: 2rem;
}
.Upper-container {
  background-color: unset;

  padding: 0 3rem;
}
.price {
  color: #1d2a3b;
  padding: 1.8rem 0;
}
