.footer-container {
  min-height: 600px;
  color: white;
  padding: 0px 0;
  margin-top: 50px;
  display: flex;
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  /* height: 512px; */
  display: flow-root;
}
.main-footer {
  display: flex;
  justify-content: start;
  width: 100%;
  background-color: #196bde;
  /*  background: linear-gradient(to right  , #4a83d8 70%, #196bde 30%);*/

  min-height: 400px;
}
.main-footer h1 {
  display: flex;
  justify-content: center;
  width: 100%;
}
.footer-list-container {
  padding: 7px 70px !important;
  background-color: #4a83d8;
  min-height: 400px;
  margin: 0;
}
.title-list-footer {
  padding: 20px 0px;
}
.footer-list-element {
  padding: 5px 0px;
}
.footer-details {
  display: flex;
  justify-content: center;
  margin: auto;
}
